<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue-2.4.0.js"></script>
</head>

<body>
    <!-- 容器 -->
    <div id="app">

        <!-- 添加新名称 -->
        <div>
            <input type="text" v-model="uname">
            <button @click="add">添加</button>
        </div>

        <ul>
            <li v-for="item in list" :key="item.id">
                <input type="checkbox" name="" id=""> 编号：{{item.id}} ---姓名：{{item.name}}</li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                uname: '',
                list: [{
                    id: 0,
                    name: 'hh'
                }, {
                    id: 1,
                    name: 'hh1'
                }, {
                    id: 2,
                    name: 'hh2'
                }, ]
            },
            methods: {
                add() {
                    // 怼出一个新对象
                    // var newuser = {
                    //     id: this.list.length,
                    //     name: this.uname
                    // }
                    // this.list.push(newuser)

                    console.log('add方法被执行了')
                }
            },

            // 第一个生命周期函数
            beforeCreate() {
                // console.log(this.list)
                // this.add()
                // console.log(this.$el)
            },


            // 第二个生命周期函数
            created() {
                // console.log(this.list)
                // this.add()
                // console.log(this.$el)
            },

            // 第三 个生命周期函数
            beforeMount() {
                // console.log(this.$el)
            },
            　　
            // 第四个生命周期函数　　
            mounted() {
                console.log(this.$el)
            }　　
        })
    </script>
</body>

</html>